<h1><%= @student.name %></h1>

<p><%= @student.email %></p>

<p><%= @student.mobile %></p>

<p><%= @student.address %></p>
<ul>
  <li><%= link_to "Edit", edit_student_path(@student) %></li>
  <li><%= link_to "Destroy", student_path(@student), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>